
<main>
    <div class="container col-xxl-8 mt-5 mb-5">
        <div class="row flex-lg-row-reverse align-items-center g-3 py-2">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/Images/SoftGen.svg" class="d-block mx-lg-auto img-fluid heroimg" alt="Bootstrap Themes">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-2">Create Your Business Website Today.</h1>
                <p class="lead">People often assume that creating a business website is a lot of work. But NextGen walks you through each easy step until you meet our goal.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-lg px-4 me-md-2 btnhero">Get in Touch</button>
                </div>
            </div>
        </div>
    </div>
</main>
